<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Carts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header class="retro-header">
        <h1>CARTS</h1>
    </header>
    <div class="buscar">
        <a href="producto.html" class="btn-regresar">&lt;</a>
        <input type="number" id="di" placeholder="Buscar Producto por id">
        <button id="buscar">Buscar</button>
    </div>

    <main>
        <div id="carts" class="retro">
            <!-- aquí se renderizan los carts desde JS -->
        </div>
    </main>

    <footer class="retro-footer">
        <p>© 1989 - Fake Console Systems</p>
    </footer>

    <script type="module" src="/Front-End/js/modules/Carts.js"></script>

</body>
</html>