<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front-End/views/style.css">

    <title>Document</title>
</head>
<body>
<h2>Guardar post</h2>
<br>
<input type="hidden" id="id">
<input type="text" id="title" placeholder="tidulo">
<input type="text" id="body" placeholder="descripcion">
<button id="save">Guardar</button>
    <hr>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="conte"></tbody>
</table>
    <script type="module" src="/Front-End/js/modules/Posts.js"></script>
</body>
</html>