<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front-End/views/style.css">

    <title>Document</title>
</head>
<body>
    <header class="retro-header">
        <h1>POST</h1>
    </header>
<div class="buscar">
 <a href="index.html" class="btn-regresar">&lt;</a>
<input type="hidden" id="id">
<input type="text" id="title" placeholder="tidulo">
<input type="text" id="body" placeholder="descripcion">
<button id="save">Guardar</button>
</div>
    <hr>

<table>
    <thead>
   
    </thead>
    <tbody id="conte"></tbody>
</table>
    <footer class="retro-footer">
        <p>© 1989 - Fake Console Systems</p>
    </footer>

    <script type="module" src="/Front-End/js/modules/Posts.js"></script>
</body>
</html>